@page
@model WebApplication3.Pages.Errors.custom402Model
@{
}

<div class="d-flex align-items-center justify-content-center">
	<div class="text-center">
		<h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">402</h1>
		<p class="fs-3"> <span class="text-danger">Opps!</span> Payment Required</p>
		<p class="lead">
			The page you’re looking for doesn’t exist.
		</p>
		<a type="button" class="btn btn-primary" asp-area="" asp-page="/Index">Back to Home</a>
	</div>
</div>